<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feedback</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <div class="feedback-container">
    <h1>Payment Successful</h1>
    <p>Thank you for purchasing our service, payment will be confirmed within 24-hours!</p>
  </div>
</body>
</html>
